@font-face {
	font-family: 'Trebuchet MS';
	src: url('trebuchet_ms.eot'); /* IE 9 Compatibility Mode */
	src: url('trebuchet_ms.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('trebuchet_ms.woff2') format('woff2'), /* Super Modern Browsers */
		url('trebuchet_ms.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('trebuchet_ms.ttf') format('truetype'), /* Safari, Android, iOS */
		url('trebuchet_ms.svg#trebuchet_ms') format('svg'); /* Chrome < 4, Legacy iOS */
}
