.coupons__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.coupon {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
}

.coupons{
    width: 100%;
}

.coupon__block {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.coupon__code {
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;

    border-radius: 8px;
    padding: 15px 25px;
    background-color: rgba(253, 178, 189, 0.54);
}

.coupon__description {
    color: #666;
}

.coupon__details {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.coupon__detail {
    margin-right: 20px;
    margin-bottom: 10px;
}

.coupon__detail-label {
    font-weight: bold;
    margin-right: 5px;
}

.tab-pane {
    display: none;
}

.tab-pane.active {
    display: block;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    padding: 5px;
}

.tab-button {
    background-color: #f2f2f2;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    margin-right: 10px;
    width: 50%;
}

.tab-content{
    border: 1px solid #e2e7ec;
    border-radius: 10px;
}

.tab-content .tab-pane{
    padding: 10px;
}

.tab-button:last-child {
    margin-right: 0;
}

.tab-button.active {
    background-color: #0068a7;
    color: white;
}

.tab-button:hover {
    background-color: #ddd;
}

.tab-button.active:hover {
    background-color: #005991;
}

.product_item_article {
    color: #555;
    font-size: 12px;
    font-weight: 500;
    padding: 3px;
    background-color: #ffea98;
    display: inline-block;
    line-height: 1;
}

.product-card-summary{
    font-size: 14px;
    margin: 10px 0;
    color: #252525;
}

.product-card-summary .product-card-summary-text{
    font-weight: 400;
}
